.box{
    width: 200px;
    height: 200px;
    background-color: rosybrown;
    
}
.box2{
    margin: 30px; /* All 4 sides same sizes*/
    margin: 10px 30px;/*Top:10 right:30*/
    margin: 10px 30px 20px 40px; /*Top:10 right:30 bottom:20 left:40*/
    margin: auto;/*This centers your element automatically*/
    color: cyan;
    text-align: center;
    padding-top: 120px;
    padding-left: 90px;
    padding-right: 90px;
}
body{
    background-color: chartreuse;
}
.border{
    border: 7px solid black;

}
